:root {
    --primary-text-color: #212121;
    --secondary-text-color: #2196F3;
    --primary-text-font: 'Roboto';
    --background-origin: #FFFFFF;  
}

body {
    color: var(--primary-text-color);
    font-family: var(--primary-text-font);
    background: var(--background-origin);
}

/* Відміна підчерку у ссилці */
a {
    text-decoration: none;
}

/*Відміна крапочок у списках*/
ul {
    list-style-type: none;
}

/* Головна сторінка */
/* WebStudio */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 span {
    color: var(--primary-text-color);
}

/*Cсилки site-nav*/
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--secondary-text-color);
}

.link-current {
    color:var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

/*Контакти*/
.contact-link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-link:hover {
    color: var(--secondary-text-color); 
}

/*Замовлення послуг*/
.order-box {
    background: #2F303A;
    
}
.order-list {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-align: center;

}
/*Кнопка*/
.order-button {
    color: #ffffff;
    background-color: #2196F3;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.order-button:hover,
.order-button:focus
 {
    color: #2196F3;
    background-color: #FFFFFF;
}

/*Особливості*/
.feature-list {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/*Заголовки h2*/
.feature-title,
.project-title,
.command-title {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

}


.title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*Наша команда*/
.command {
    background-color: #F5F4FA;;
}

.name-teammate {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

.work-pozition {
    color: #757575;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

/*Футер*/
footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #ffffff;
    font-family: 'Raleway';
}
.contact {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}
.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

/*Портфоліо*/

/*Кнопки*/
.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus
 {
    color: #FFFFFF;
    background-color: #2196F3;
}

/*Проєкти*/
.project-name {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-item {
    color: #757575;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}
